<p>
  This is what I'm all about. <a href="javascript:;" (click)="sendMeHome()"><strong>Take me back</strong></a>
</p>

<ul>
  <li *ngFor="let goal of goals" appBeautify>
      Goal: 
      <span>{{goal}}</span>
  </li>
</ul>


<div>
  Move your mouse cursor over image to pause rolling.<br/>
    <img [appImageRoll]="{
      'initial':'https://unsplash.it/200/300?image=201',
      'over':'https://unsplash.it/200/300?image=202'
    }"/>
</div>