<fieldset>
  <legend>Child Component:</legend>
  <app-cform (UsernameChangedCformComponent)="actionOnUsernameChange($event)" [parentInput]="parentInput"></app-cform>
</fieldset>

<ol>
  <li *ngFor="let goal of goals">
    Goal: 
    <a href="javascript:;" appBeautify>{{goal}}</a>
  </li>
</ol>

<div>Received Datat from Child Form: {{usernameFromChildForm}}</div>
<div>Input to Child: <input [(ngModel)]="parentInput" /></div>

