<fieldset>
  <legend>Reactive Forms</legend>
  <div>
    Favorite Color: <input type="text" [formControl]="favoriteColorControl">
    <br/>
    Input Value: {{favoriteColorControl.value}}
    <br/>
    <button (click)="favoriteColorControl.setValue('#123')">Set value to '#123'</button>
  </div>
  <hr/>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</fieldset>

<fieldset>
  <legend>Template-driven Forms</legend>
  <div>
    Favorite Color: <input type="text" [(ngModel)]="favoriteColor">
    <br/>
    Input Value: {{favoriteColor}}
    <br/>
    <button (click)="favoriteColor='#123'">Set value to '#123'</button>
  </div>
</fieldset>
