<div>
  <form>
    <div>
      Your Email: <input type="text" name="person_email" [(ngModel)]="person_username" (input)="useranemChanged()" placeholder="Enter Email" autocomplete="off">
    </div>
    <div>
      Description: <input type="text" name="description" [(ngModel)]="description" placeholder="Enter Description">
    </div>
    <div>
      parentInput: {{parentInput}}
    </div>
    <div>
      <button type="submit" class="btn btn-primary" >Send</button>
    </div>
  </form>
</div>