<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/48">About</a></li>
  <li><a routerLink="contact">Contact</a></li>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="directive">Directive</a></li>
  <li><a routerLink="form">Form</a></li>
</ul>

<router-outlet></router-outlet>
