<p>
  structural works!
</p>
<fieldset>
  <legend>ngIf</legend>
  <p *ngIf="someBoolean == true">
    Expression is true and ngIf is true.
    This paragraph is in the DOM.
  </p>
  <p *ngIf="!someBoolean">
    Expression is false and ngIf is false.
  </p>
  
  <button (click)="someBoolean = !someBoolean">Toggle</button>
</fieldset>

<fieldset>
  <legend>ngFor & ngSwitch</legend>
  <div *ngFor="let hero of heroes; let i=index; let odd=odd;" [class.odd]="odd">
    ({{i+1}}) {{hero.name}}
    -------------- [<span [ngSwitch]="hero?.emotion">
      <span *ngSwitchCase="'happy'">Happy. Wao</span>
      <span *ngSwitchCase="'confused'">Confused. OOOHH</span>
      <span *ngSwitchCase="'sad'">Sad. Alas</span>
      <span *ngSwitchDefault>
        <span>Hip!</span>
        <ng-template>
          <span>Hip!</span>
        </ng-template>
        <span>Hooray!</span>
      </span>
    </span>]
  </div>
</fieldset>


<fieldset>
  <legend>ngContainer</legend>
  <div>
    Pick your favorite hero
    (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
  </div>
  <select [(ngModel)]="hero">
    <ng-container *ngFor="let h of heroes">
      <ng-container *ngIf="showSad || h.emotion !== 'sad'">
        <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
      </ng-container>
    </ng-container>
  </select>
</fieldset>

<fieldset>
  <legend>Custom Directive</legend>
  <p *appUnless="someBoolean" class="unless a">
    (A) This paragraph is displayed because the condition is false.
  </p>
  
  <p *appUnless="!someBoolean" class="unless b">
    (B) Although the condition is true,
    this paragraph is displayed because appUnless is set to false.
  </p>
  <button (click)="someBoolean = !someBoolean">Toggle</button>
</fieldset>